// Variables
$page-max-width: 1400px

// Includes
@import ../../../styleguide/stylesheets/sass/_mixins
@import components/fee-disclaimer
@import components/header
@import components/expanded-cart
@import components/headings
@import components/flight-strips
@import components/fare-inclusions
@import components/explore-helper
@import components/extras
@import components/seating
@import components/finalise
@import components/footer

@font-face 
  font-family: 'icomoon'
  src:  url('../assets/fonts/icomoon/icomoon.eot?1h4dky')
  src:  url('../assets/fonts/icomoon/icomoon.eot?1h4dky#iefix') format('embedded-opentype'), url('../assets/fonts/icomoon/icomoon.ttf?1h4dky') format('truetype'), url('../assets/fonts/icomoon/icomoon.woff?1h4dky') format('woff'), url('../assets/fonts/icomoon/icomoon.svg?1h4dky#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


body
  position: relative
  background: #fafafa
  overflow-x: hidden

body.cart-expanded
  overflow: hidden
  .header:not(.sticky),
  .fee-disclaimer,
  main
    opacity: 0.2
    -webkit-opacity: 0.2
    filter: grayscale(100)
    -webkit-filter: grayscale(100)
    pointer-events: none
    user-select: none

main
	position: relative
	left: 0
	width: $page-max-width
	margin: 100px auto 0
  padding-bottom: 100px
	text-align: center

.component
  border: 0 !important
  padding: 0 !important
  width: auto !important
  background: transparent !important

.columns
  width: 100%
  margin: 0 auto
  &.three-four
    width: 74%
  &.two
    .column
      float: left
      width: 50%
    .column.last
      &.center
        float: right
        text-align: center

.clear-both
  clear: both
  width: 100%


.down-arrow-label,
.edit-label
  padding-right: 18px
  background: url(../assets/svgs/i-arrow-down.svg) no-repeat right top
  background-size: 16px
  cursor: pointer
  &.red-label
    background-image: url(../assets/svgs/i-arrow-down-red.svg)
    color: $va-red
  &:hover
    opacity: 0.7

.edit-label
  padding-right: 15px
  color: $va-red
  background: url(../assets/svgs/i-edit.svg) no-repeat right center
  background-size: 10px

.dismiss
  position: absolute
  top: 2rem
  right: 2rem
  color: #fff
  text-transform: uppercase
  letter-spacing: 2px
  z-index: 10000
  cursor: pointer
  +font-size(14)
  &:hover
    opacity: 0.8
  &.red
    color: $va-red
    .icon
      border-color: $va-red
  .icon
    display: inline-block
    padding: 0.6rem
    border-radius: 100%
    border: 3px #fff solid

.total-line-items
  padding: 1rem 2.6rem 0
  li
    padding: 0
    text-align: left
    color: $medium-dark-grey
    line-height: 2.4rem
    font-weight: 400
    border-bottom: 1px #e8e8e8 solid
    +font-size(14)
    strong
      float: right
      font-weight: 600
      color: $fare-getaway
      &.empty
        color: $medium-dark-grey